body {
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(236, 233, 240);
}

form {
    background-color: rgb(228, 141, 141, 0);
    padding-top: 30px;
    font-size: 14px;
    /* letter-spacing: 0.1em; */
    font-weight: bold;
    color: rgb(43, 49, 63);
}

button {
    background-color: rgb(43, 49, 63);
    border: none;
    border-radius: 10px;
    color: rgb(249, 239, 225);
    padding: 5px 10px;
    letter-spacing: 0.1em;
}

input {
    border: none;
    border-radius: 5px;
    height: 28px;
}